/* Please note that I added some additional CSS styling - PCK */

/* Add a background color to the header element */
header {
    background-color: #803bb1;
    color: #d1d7e0;
    margin-top: -20px; 
}


/* Add a fun background color to the main element */
main {
    background-color: #2d283e;
    margin: -25px 0;
}


/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    padding: 10px 10px;
}


/* Make your p tag a different color and italic */
footer p {
    color: #d1d7e0;
    padding: 15px 0px;
    background-color: #803BB1;
    font-style: italic;
    margin-top: 10px;
    margin-left: 25px;
}

/* Put a border around your image */
img {
    width: 300px;
    border: 4px solid #564f6f;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 30px;
}

/* image hover effect - PK */
img:hover {
    border:4px solid #ffffff;
    transition: border 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}



/* Added <h3> sub-heading style - PCK */
h3 {
    color:#ffffff;
    margin-left: 25px;
    margin-top: 40px;
}

/* Change the font-family of your list */
/* Added additional CSS style - PCK */
main ul {
    font-family: Arial, sans-serif;
    color: #ffffff;
    list-style: none;
    margin-left: -20px;
    margin-top: 10px;
    padding-bottom: 125px; 
}


/* Add a background color to the footer element */
footer {
    background-color: #803bb1;    
}





